<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DorisAndroidPrefetch/src/fr/ffessm/doris/prefetch/PrefetchDorisWebSite.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="log4j.configuration" value="${workspace_loc:DorisAndroidPrefetch}/src/log4j.properties"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.ffessm.doris.prefetch.PrefetchDorisWebSite"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-v V4_TO_ANDROID"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DorisAndroidPrefetch"/>
</launchConfiguration>
