<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="true"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Acceleo Plug-in Application (Default)"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/DorisAndroid/model/DorisAndroid.genandroid"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/DorisAndroidCommon"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fr.vojtisek.genandroid.acceleo/src/fr/vojtisek/genandroid/acceleo/files/AndroidGenerateDataModelOnly.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.vojtisek.genandroid.acceleo.files.AndroidGenerateDataModelOnly"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/guillaume/Documents/Dev/INRIA-Git/doris-android/DorisAndroid/model/DorisAndroid.genandroid&quot; &quot;/home/guillaume/Documents/Dev/INRIA-Git/doris-android/DorisAndroidCommon&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fr.vojtisek.genandroid.acceleo"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfile.Encoding=UTF8"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:fr.vojtisek.genandroid.acceleo}"/>
</launchConfiguration>
